# PROYECTO: ANÁLISIS DEL REGIMEN DE EXCEPCION EN  LA EXPECTATIVA DE VIDA EN EL SALVADOR

## ¿Que es la esperanza de vida de un pais?

La esperanza de vida es un indicador demográfico que estima el promedio de años que una persona podría vivir, partiendo de las condiciones actuales de mortalidad en una población específica. Este indicador se calcula considerando factores como la tasa de mortalidad en diferentes grupos de edad y refleja las condiciones generales de salud, desarrollo socioeconómico y acceso a servicios básicos, como atención médica y saneamiento. Es una medida clave para evaluar la calidad de vida y el bienestar en una sociedad, así como para comparar el progreso entre distintos países o regiones.

## Esperanza de vida en El Salvador panorama General

En 2022 la esperanza de vida en El Salvador subió hasta llegar a 71,48 años.

Ese año la esperanza de vida de las mujeres fue de 75,81 años, mayor que la de los hombres que fue de 66,84 años.

El Salvador ha empeorado su situación respecto a los 194 países de los que publicamos la Esperanza de vida y ha pasado de ocupar el puesto 107 en 2021 al 109 en 2022. Esto quiere decir que es un país con una baja esperanza de vida respecto al resto de los países del mundo.

Si miramos la evolución de la Esperanza de Vida en El Salvador en los últimos años, vemos que ha subido respecto a 2021 en el que fue de 70,75 años, al contrario de lo que ocurre respecto a 2012, en el que estaba en 71,83 años.

*Fuente Consultada
Expansión. (s.f.). Esperanza de vida en El Salvador. Datosmacro. https://datosmacro.expansion.com/demografia/esperanza-vida/el-salvador#:~:text=Ese%20a%C3%B1o%20la%20esperanza%20de,2021%20al%20109%20en%202022.*

## 1. Obtención de los datos
Datos necesarios:

I.   Expectativa de vida en El Salvador (histórica, por año).

II.  Homicidios reportados antes y durante el régimen de excepción.

III. Fechas relevantes del régimen de excepción (inicio en marzo de 2022)
 ***
 ***

### I. Expectativa de vida histórica en El Salvador:

*Los datos de expectativa de vida fueron obtenidos de la página web Datosmacro*

(https://datosmacro.expansion.com/demografia/esperanza-vida/el-salvador) y se guardaron en un archivo CSV para su  análisis.

In [29]:
import pandas as pd

# Cargar el archivo CSV 
df = pd.read_csv('esperanza_vida_el_salvador.csv')

# Revisar los datos
df.head(23)

,Fecha,Esperanza de vida - Mujeres,Esperanza de vida - Hombres,Esperanza de vida
0,2022,7581,6684,7148
1,2021,7515,6608,7075
2,2020,7541,6643,7106
3,2019,7678,6801,7256
4,2018,7749,6735,7256
5,2017,7749,6691,7231
6,2016,7708,6676,7203
7,2015,7657,6683,7181
8,2014,7627,6699,7175
9,2013,7616,6715,7177
10,2012,7616,6726,7183
11,2011,7619,6729,7186
12,2010,7621,6725,7185
13,2009,7596,6696,7158
14,2008,7592,6671,7142
15,2007,7568,6633,7111
16,2006,7540,6597,7077
17,2005,7508,6564,7044
18,2004,7497,6557,7034
19,2003,7468,6547,7014
20,2002,7471,6563,7023
21,2001,7390,6516,6960
22,2000,7425,6535,6987

### II. Homicidios reportados antes y durante el régimen de excepción.

*Los datos de homicidios ANTES del regimen fueron obtenidos de la página web Datosmacro*
(https://datosmacro.expansion.com/demografia/homicidios/el-salvadorr) y se guardaron en un archivo CSV para su análisi

In [25]:
import pandas as pd

# Cargar el archivo CSV 
df = pd.read_csv('Homicidios_antes_del_regimen.csv')

# Revisar los datos
df.head(23)

,Fecha,Número de Homicidios,Homicidios Mujeres,Homicidios Hombres,Homicidios Mujeres por familiares,Homicidios hombres por familiares,Homicidios por 100.000
0,2022,496.000,71.0,425.000,4.0,2.0,790
1,2021,1.085,133.0,944.000,21.0,2.0,1734
2,2020,1.341,131.0,1.186,23.0,11.0,2151
3,2019,2.398,230.0,2.127,18.0,10.0,3854
4,2018,3.346,386.0,2.941,42.0,19.0,5380
5,2017,3.962,469.0,3.474,19.0,11.0,6376
6,2016,5.276,524.0,4.752,11.0,7.0,8509
7,2015,6.656,575.0,6.081,17.0,2.0,10764
8,2014,3.921,294.0,3.627,9.0,4.0,6362
9,2013,2.513,217.0,2.296,18.0,1.0,4094
10,2012,2.594,322.0,2.272,13.0,8.0,4243
11,2011,4.371,628.0,3.743,1.0,NaN,7177
12,2010,3.987,562.0,3.425,2.0,1.0,6570
13,2009,4.382,592.0,3.790,14.0,6.0,7245
14,2008,3.179,317.0,2.862,2.0,1.0,5273
15,2007,3.497,340.0,3.157,1.0,NaN,5819
16,2006,3.927,447.0,3.480,NaN,NaN,6542
17,2005,3.882,398.0,3.484,NaN,NaN,6464
18,2004,3.897,NaN,NaN,NaN,NaN,6490
19,2003,3.356,NaN,NaN,NaN,NaN,5595
20,2002,2.835,NaN,NaN,NaN,NaN,4736
21,2001,3.590,NaN,NaN,NaN,NaN,6015
22,2000,3.551,NaN,NaN,NaN,NaN,5975

### II. Homicidios reportados antes y durante el régimen de excepción.

*Los datos de homicidios DESPUES del regimen fueron obtenidos de la página OFICIAL DE LA FISCALIA GENERAL DE LA REPUBLICA DE EL SALVADOR*

(https://www.fiscalia.gob.sv/estadisticas/) y se guardaron en un archivo CSV para su análisis.

In [27]:
import pandas as pd

# Cargar el archivo CSV 
df = pd.read_csv('Homicidios_despues_del_regimen.csv',header = 1)

# Revisar los datos
df.head(15)

,Unnamed: 0,ENE.,FEB.,MAR.,ABR.,MAY.,JUN.,JUL.,AGO.,SEP.,OCT.,NOV.,DIC.,TOTAL
0,Delincuencia General,1,1,4,0,6,3,4,11,2,NaN,NaN,NaN,32
1,Intolerancia Social,6,5,2,3,3,3,5,4,2,NaN,NaN,NaN,33
2,Intolerancia Familiar,2,2,7,4,7,2,6,5,4,NaN,NaN,NaN,39
3,Total Homicidios Intencionales,9,8,13,7,16,8,15,20,8,NaN,NaN,NaN,104
4,NaN,ENE.,FEB.,MAR.,ABR.,MAY.,JUN.,JUL.,AGO.,SEP.,OCT.,NOV.,DIC.,TOTAL
5,Delincuencia General,9,3,8,1,7,4,2,3,3,6,3,4,53
6,Intolerancia Social,2,3,1,3,3,5,6,5,3,11,2,10,54
7,Intolerancia Familiar,2,7,2,5,7,3,1,8,4,4,2,2,47
8,Total Homicidios Intencionales,13,13,11,9,17,12,9,16,10,21,7,16,154
9,NaN,ENE.,FEB.,MAR.,ABR.,MAY.,JUN.,JUL.,AGO.,SEPT.,OCT.,NOV.,DIC.,TOTAL
10,Delincuencia General,79,71,161,21,11,23,12,12,11,12,7,9,429
11,Intolerancia Social,1,2,3,1,3,2,4,6,5,6,3,0,36
12,Intolerancia Familiar,2,3,1,1,4,1,1,1,3,4,5,5,31
13,Total de Homicidios,82,76,165,23,18,26,17,19,19,22,15,14,496

### III. Fechas relevantes del régimen de excepción (inicio en marzo de 2022)

**El 26 de marzo del 2022**, El Salvador registró la alarmante cifra de sesenta y dos homicidios, aparentemente cometidos por pandillas, 
lo cual constituyó la mayor tasa diaria de homicidios en varios años, según información oficial. Esa noche y la mañana siguiente, 
Bukele solicitó a la Asamblea Legislativa que declarara el régimen de excepción y ordenó el aislamiento absoluto de los presos en sus celdas.

La Asamblea Legislativa suspendió los derechos constitucionales a la libertad de asociación y reunión, la inviolabilidad de las comunicaciones, el derecho a ser informado sobre el motivo de una detención, a guardar silencio y a la representación legal, y el requisito de presentar a cualquier persona detenida ante un juez en las 72 horas posteriores a su detencni
ó

El régimen de excepción en El Salvador ha estado activo desde marzo de 2022. Ha sido renovado varias veces, la última prorrogación fue hasta el 4 de enero de 2025. Esto significa que ha estado activo durante más de 32 meses hasta la feca
.

El diputado Caleb Navarro, subjefe de fracción de Nuevas Ideas, sostuvo que durante la gestión de Nayib Bukele cuentan 747 días sin homicidios y que octubre de 2024 cerró con 27 días sin homicidios. "Noviembre ya acumula cuatro días sin homicidios, hasta el 4 de octub 2025re", aseveró. El gobierno no contabiliza como homicidios los cometidos contra supuestos pandilleros.


*Human Rights Watch. (2022, 29 de marzo). El Salvador: Amplio régimen de excepción facilita graves abusos. Recuperado de https://www.hrw.org/es/news/2022/03/29/el-salvador-amplio-regimen-de-excepcion-facilita-graves-abusos*

*El Mundo. (2023). Aprueban prórroga 32 del régimen de excepción con más de 83,100 capturados. Recuperado de https://diario.elmundo.sv/politica/aprueban-prorroga-32-del-regimen-de-excepcion-con-mas-de-83100-capturados*n.

## PREPARACION DE LOS DATOS

### Esperanza de Vida

In [21]:
import pandas as pd

# Cargar el archivo CSV 
df = pd.read_csv('esperanza_vida_el_salvador.csv')

# Modificar los encabezados de las columnas
df.columns = ['AÑOS', 'MUJERES', 'HOMBRES','ESPERANZA DE VIDA']

# Formatear columnas específicas con un separador de miles
columnas_a_formatear = ['MUJERES', 'HOMBRES', 'ESPERANZA DE VIDA']

for columna in columnas_a_formatear:
    df[columna] = df[columna].map(lambda x: f"{x / 100:,.2f}".replace(".", ","))


# Revisar los datos
df.head(11)

    AÑOS MUJERES HOMBRES ESPERANZA DE VIDA
0   2022   75,81   66,84             71,48
1   2021   75,15   66,08             70,75
2   2020   75,41   66,43             71,06
3   2019   76,78   68,01             72,56
4   2018   77,49   67,35             72,56
5   2017   77,49   66,91             72,31
6   2016   77,08   66,76             72,03
7   2015   76,57   66,83             71,81
8   2014   76,27   66,99             71,75
9   2013   76,16   67,15             71,77
10  2012   76,16   67,26             71,83

### Homicidios ANTES del Regimen

In [34]:
import pandas as pd

# Cargar el archivo CSV
df = pd.read_csv('Homicidios_antes_del_regimen.csv')

# Modificar los encabezados de las columnas
df.columns = ['AÑOS', 'TOTAL', 'MUJERES', 'HOMBRES', 'MUJERES_X_FAMILIA', 'HOMBRES_X_FAMILIA', 'HOMICIDIOS_POR_CADA_100_MIL_PERSONAS']

# Eliminar columnas innecesarias
df.drop(columns=['MUJERES_X_FAMILIA', 'HOMBRES_X_FAMILIA'], inplace=True)

# Eliminar filas con valores faltantes en columnas clave
df.dropna(subset=['TOTAL', 'HOMBRES', 'HOMICIDIOS_POR_CADA_100_MIL_PERSONAS'], inplace=True)

# Limpiar y convertir la columna 'TOTAL' a enteros
df['TOTAL'] = df['TOTAL'].astype(str).str.replace('.', '', regex=False).astype(int)

# Corregir valores erróneos en 'TOTAL'
df.loc[df['TOTAL'] == 4960, 'TOTAL'] = 496

# Limpiar y convertir la columna 'HOMBRES' a enteros
df['HOMBRES'] = df['HOMBRES'].astype(str).str.replace('.', '', regex=False).astype(int)

# Corregir valores erróneos en 'HOMBRES' (sin inplace=True)
df['HOMBRES'] = df['HOMBRES'].replace({4250: 425, 9440: 944})

# Convertir la columna 'MUJERES' a enteros
df['MUJERES'] = df['MUJERES'].astype(float).astype(int)

# Formatear la columna 'HOMICIDIOS_POR_CADA_100_MIL_PERSONAS' para mostrar dos decimales con coma
df['HOMICIDIOS_POR_CADA_100_MIL_PERSONAS'] = (
    pd.to_numeric(df['HOMICIDIOS_POR_CADA_100_MIL_PERSONAS'], errors='coerce')
    .map(lambda x: f"{x / 100:,.2f}".replace('.', ',') if pd.notna(x) else x)
)

# Mostrar los primeros 11 registros
df.head(11)

    AÑOS  TOTAL  MUJERES  HOMBRES HOMICIDIOS_POR_CADA_100_MIL_PERSONAS
0   2022    496       71      425                                 7,90
1   2021   1085      133      944                                17,34
2   2020   1341      131     1186                                21,51
3   2019   2398      230     2127                                38,54
4   2018   3346      386     2941                                53,80
5   2017   3962      469     3474                                63,76
6   2016   5276      524     4752                                85,09
7   2015   6656      575     6081                               107,64
8   2014   3921      294     3627                                63,62
9   2013   2513      217     2296                                40,94
10  2012   2594      322     2272                                42,43

### Homicidios DESPUES del Regimen

In [5]:
import pandas as pd

# Cargar el archivo CSV
df = pd.read_csv('Homicidios_despues_del_regimen.csv', header=1)

# Eliminar filas innecesarias
df = df.drop([4, 9], axis=0).reset_index(drop=True)

# Crear y asignar la columna 'Year' de forma eficiente
year_values = [2024] * 4 + [2023] * 4 + [2022] * 4
df['Year'] = year_values

# Mostrar el DataFrame
df

,Unnamed: 0,ENE.,FEB.,MAR.,ABR.,MAY.,JUN.,JUL.,AGO.,SEP.,OCT.,NOV.,DIC.,TOTAL,Year
0,Delincuencia General,1,1,4,0,6,3,4,11,2,NaN,NaN,NaN,32,2024
1,Intolerancia Social,6,5,2,3,3,3,5,4,2,NaN,NaN,NaN,33,2024
2,Intolerancia Familiar,2,2,7,4,7,2,6,5,4,NaN,NaN,NaN,39,2024
3,Total Homicidios Intencionales,9,8,13,7,16,8,15,20,8,NaN,NaN,NaN,104,2024
4,Delincuencia General,9,3,8,1,7,4,2,3,3,6,3,4,53,2023
5,Intolerancia Social,2,3,1,3,3,5,6,5,3,11,2,10,54,2023
6,Intolerancia Familiar,2,7,2,5,7,3,1,8,4,4,2,2,47,2023
7,Total Homicidios Intencionales,13,13,11,9,17,12,9,16,10,21,7,16,154,2023
8,Delincuencia General,79,71,161,21,11,23,12,12,11,12,7,9,429,2022
9,Intolerancia Social,1,2,3,1,3,2,4,6,5,6,3,0,36,2022
10,Intolerancia Familiar,2,3,1,1,4,1,1,1,3,4,5,5,31,2022
11,Total de Homicidios,82,76,165,23,18,26,17,19,19,22,15,14,496,2022

***
***

### 3. Análisis exploratorio
Explorar correlaciones entre variables como la expectativa de vida, los homicidios .

In [36]:
import seaborn as sns
import matplotlib.pyplot as plt

# Fusionar los conjuntos de datos en uno solo para análisis
datos_combinados = pd.merge(expectativa_vida, homicidios, on='Año')
datos_combinados = pd.merge(datos_combinados, indicadores_salud, on='Año')

# Calcular la matriz de correlación
matriz_correlacion = datos_combinados.corr()

# Visualizar la matriz de correlación
plt.figure(figsize=(10, 8))
sns.heatmap(matriz_correlacion, annot=True, cmap='coolwarm')  # Heatmap para mostrar correlaciones
plt.title('Matriz de correlaciones')
plt.show()

# Generar estadísticas descriptivas
print(datos_combinados.describe())  # Resumen estadístico de las variables

NameError: name 'expectativa_vida' is not defined

### 3. Visualización de tendencias
Visualizamos las tendencias de la expectativa de vida y los homicidios antes y después del régimen.

In [ ]:
# Visualización de la expectativa de vida y los homicidios a lo largo del tiempo
plt.figure(figsize=(10, 6))
sns.lineplot(x='Año', y='Expectativa de vida', data=expectativa_vida, label='Expectativa de vida')  # Línea para expectativa de vida
sns.lineplot(x='Año', y='Homicidios', data=homicidios, label='Homicidios', color='red')  # Línea para homicidios

# Marcar el inicio del régimen de excepción
plt.axvline(pd.Timestamp('2022-03-01'), color='gray', linestyle='--', label='Inicio del régimen de excepción')

# Personalizardo el gráfico
plt.title('Tendencias: Expectativa de vida vs Homicidios')
plt.xlabel('Año')
plt.ylabel('Valores')
plt.legend()
plt.show()

### 4. Análisis de impacto
Comparamos los datos antes y después del régimen de excepción

*Si el valor P es menor a 0.05, podemos considerar que hay diferencias estadísticamente significativas entre los periodos*

In [ ]:
from scipy.stats import ttest_ind

# Dividir los datos en dos periodos: antes y después del régimen de excepción
antes = datos_combinados[datos_combinados['Año'] < '2022-03-01']
despues = datos_combinados[datos_combinados['Año'] >= '2022-03-01']

# Comparar la expectativa de vida entre ambos periodos
estadistico_t, valor_p = ttest_ind(antes['Expectativa de vida'], despues['Expectativa de vida'])
print(f"Estadístico T: {estadistico_t}, Valor P: {valor_p}")

# Comparar los homicidios entre ambos periodos
estadistico_t_h, valor_p_h = ttest_ind(antes['Homicidios'], despues['Homicidios'])
print(f"Estadístico T (Homicidios): {estadistico_t_h}, Valor P: {valor_p_h}")

In [ ]:
#nota la libreria anterior se necesita investigarla  mas

### 5. Conclusiones
El análisis estadístico y visual:

Identificar si hubo cambios significativos en la expectativa de vida.
    
Determinar si los homicidios reportados están correlacionados con el régimen.
    
Evaluar si los indicadores de salud o económicos se vieron afectados.